html {
    background: url('../img/bj.jpg')
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.main {
    width: 100%;
    margin: 0 auto;
}

.tx {
    position: relative;
}

.tx img {
    display: inline-block;
    transition: all 1s;
    border-radius: 10px;
}

.imgAnimation {
    animation: imgAnimation 3s normal !important;
}

@keyframes imgAnimation {
    0% {
        top: 1000px;
        left: 50%;
    }
    50% {
        top: 40vh;
        left: 50%;
        transform: scale(8);
    }
}